@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<style>
    .bugname, .stats {
        font-size: 20pt;
    }
    .closed {
        color: red;
        text-decoration: line-through;
        font-style: italic;
        font-weight: bold;
    }
    ol {
        width: 500px;
        list-style: none;
    }
    li {
        margin-bottom: 10px;
        border: 1px solid gray;
        background-color: #e7e7e7;
        padding: 5px;
        border-radius: 5px;
    }
    .datetime {
        font-style: italic;
    }
</style>
<section class="stats">
		<span class="closed">3</span>
		<span> / </span>
		<span>5</span>
	</section>
	<section class="edit">
		<label for="">Bug :</label>
		<input type="text" name="bugname" id="txtBug">
		<input type="button" value="Add New">
	</section>
	<section class="list">
		<ol>
			<li>
				<span class="bugname">This is bug - 1</span>
				<div class="datetime">[CreatedAt]</div>
			</li>
			<li>
				<span class="bugname">This is bug - 2</span>
				<div class="datetime">[CreatedAt]</div>
			</li>
		</ol>
		<input type="button" value="Remove Closed">
	</section>