
@model BugTracker.Controllers.BugViewModel

@{
    ViewBag.Title = "title";

}

<style>
    .bugname, .stats {
        font-size: 20pt;
    }
    .closed {
        color: red;
        text-decoration: line-through;
        font-style: italic;
        font-weight: bold;
    }
    ol {
        width: 500px;
        list-style: none;
    }
    li {
        margin-bottom: 10px;
        border: 1px solid gray;
        background-color: #e7e7e7;
        padding: 5px;
        border-radius: 5px;
    }
    .datetime {
        font-style: italic;
    }
</style>
<h1>Bug Tracker</h1>
<hr/>
<section class="stats">
		<span class="closed">@Model.ClosedCount</span>
		<span> / </span>
		<span>@Model.Bugs.Count</span>
	</section>
	@{Html.RenderPartial("Create", Model.NewBug) ;}
	<section class="list">
		<ol id="bugList" >
            @foreach (var bug in Model.Bugs)
            {
                <li id="bug-@bug.Id">
                    @{Html.RenderPartial("_Details", bug);
                    }

                </li>
            }
</ol>
		<input type="button" value="Remove Closed">
	</section>