@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AfternoonView</title>
</head>
<body>
    <h1 style="color : red">@ViewData["message"]</h1>
</body>
</html>
