@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MorningView</title>
</head>
<body>
    <div>
        <h1 style="color : Blue">@ViewData["message"]</h1>
    </div>
</body>
</html>
